name: Build and Push to GHCR

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Set up tags
        id: vars
        run: |
          DATE=$(date +%Y%m%d)
          BRANCH=$(echo "${GITHUB_REF##*/}" | tr '/' '-')
          echo "DATE=$DATE" >> $GITHUB_ENV
          echo "BRANCH=$BRANCH" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/hello4:latest
            ghcr.io/${{ github.repository_owner }}/hello4:${{ github.sha }}
            ghcr.io/${{ github.repository_owner }}/hello4:${{ env.BRANCH }}
            ghcr.io/${{ github.repository_owner }}/hello4:${{ env.DATE }}
